{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReservA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="dark-theme">

    <header class="navbar">
        <div class="logo">
            <h1>Reser<span>Va</span></h1>
        </div>

        <nav class="nav-menu">
            <ul class="nav-links">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'ver_carta' %}">Menú</a></li>
                {% if request.session.logueado.rol != "admin" %}

                <li><a href="{% url 'crear_reserva' %}" class="btn-reserva" aria aria-disabled="true">Reservar</a></li>
                {% endif %}

                {% if request.session.logueado %}
                    {% if request.session.rol == "cliente" %}
                <li><a href="{% url 'mis_reservas' %}" >Mis Reservas</a></li>
                    {% else %}
                    <a href="{% url 'mis_reservas' %}" > Administrar Reservas</a>
                    {% endif %}
                <li>

                    <span style="color: #ffc107; font-weight: bold; margin-right: 15px;">
                        Hola, {{ request.session.logueado.nombre }}
                    </span> <a href="{% url 'cerrar_sesion' %}" class="btn-registro">Logout</a>
                </li>
                {% else %}
                <li><a href="{% url 'iniciar_sesion' %}">Entrar</a></li>
                <li><a href="{% url 'crear_usuario' %}" class="btn-registro">Registro</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

      

    <main class="contenedor">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="pie-pagina">
        <p>&copy; 2026 ReservA - Medellín</p>
    </footer>

    {% if messages %}
    <script>
        {% for message in messages %}
        Swal.fire({
            title: "¡Excelente!",
            text: "{{ message }}",
            icon: "{{ message.tags }}",
            confirmButtonColor: "#8f7325",
            background: "#1a1a1a",
            color: "#ffffff"
        });
        {% endfor %}
    </script>
    {% endif %}
</body>

</html>