{% extends 'base.html' %}
{% load static %}

{% block title %}Registrarse - ReserVa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'inicio' %}" class="back-button-link">← Volver</a>

<div class="form-container">
    <div class="mi-formulario">
        <h2>Registrarse</h2>
        <p class="form-subtitle">Por favor complete la siguiente información:</p>
        
        <form action="{% url 'crear_usuario' %}" method="POST">
            {% csrf_token %}
            
            <p>
                <label for="usuario">Usuario:</label>
                <input type="text" placeholder="Ej: bryan123" required name="usuario" id="usuario">
            </p>
            
            <p>
                <label for="nombre">Nombre:</label>
                <input type="text" placeholder="Tu nombre" required name="nombre" id="nombre">
            </p>
            
            <p>
                <label for="apellido">Apellido:</label>
                <input type="text" placeholder="Tu apellido" required name="apellido" id="apellido">
            </p>
            
            <p>
                <label for="email">Correo Electrónico:</label>
                <input type="email" placeholder="ejemplo@correo.com" required name="email" id="email">
            </p>
            
            <p>
                <label for="contraseña">Contraseña:</label>
                <input type="password" placeholder="Crea una contraseña segura" required name="contraseña" id="contraseña">
            </p>
            
            <button type="submit">CREAR MI CUENTA</button>
            
            <div class="form-footer-link">
                <p>¿Ya tienes una cuenta?</p> 
                <a href="{% url 'iniciar_sesion' %}">Inicia Sesión</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}